In [36]:
# Dependencies
import pandas as pd
import numpy as no
import json
import csv
import requests
import matplotlib.pyplot as plt
import citipy as citipy
from config import api_key1

In [37]:
#import CSV
cities_pd = pd.read_csv("worldcities.csv")
cities_pd.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [38]:
#add columns to df
#cities_pd["City"] = ""
cities_pd["Cloudiness"] = ""
cities_pd["Country"] = ""
cities_pd["Date"] = ""
cities_pd["Humidity"] = ""
#cities_pd["Latitude"] = ""
#cities_pd["Longitude"] = ""
cities_pd["Max Temp"] = ""
cities_pd["Wind Speed"] = ""
cities_pd.head()

,Country,City,Latitude,Longitude,Cloudiness,Date,Humidity,Max Temp,Wind Speed
0,,andorra la vella,42.500000,1.516667,,,,,
1,,canillo,42.566667,1.600000,,,,,
2,,encamp,42.533333,1.583333,,,,,
3,,la massana,42.550000,1.516667,,,,,
4,,les escaldes,42.500000,1.533333,,,,,

In [39]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
#format = "json"
city = "London"
# Build query URL
query_url = url + "appid=" + api_key1 + "&q=" + city

In [40]:
# Get weather data
weather_data = requests.get(query_url)
weather_json = weather_data.json()

# Get the temperature from the response
print(f"The weather API responded with: {weather_json}.")

The weather API responded with: {'coord': {'lon': -0.13, 'lat': 51.51}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}, {'id': 620, 'main': 'Snow', 'description': 'light shower snow', 'icon': '13d'}], 'base': 'stations', 'main': {'temp': 272.95, 'pressure': 1007, 'humidity': 69, 'temp_min': 272.15, 'temp_max': 274.15}, 'visibility': 10000, 'wind': {'speed': 8.2, 'deg': 60, 'gust': 14.4}, 'clouds': {'all': 90}, 'dt': 1521291000, 'sys': {'type': 1, 'id': 5091, 'message': 0.0062, 'country': 'GB', 'sunrise': 1521266945, 'sunset': 1521310156}, 'id': 2643743, 'name': 'London', 'cod': 200}.

In [41]:
#cities_response = requests.get(f"{url}cities?format={format}").json()
#cities = cities_response[0]

#for city in cities:
    #print(city["name"])

In [42]:
cities_pd.head()

,Country,City,Latitude,Longitude,Cloudiness,Date,Humidity,Max Temp,Wind Speed
0,,andorra la vella,42.500000,1.516667,,,,,
1,,canillo,42.566667,1.600000,,,,,
2,,encamp,42.533333,1.583333,,,,,
3,,la massana,42.550000,1.516667,,,,,
4,,les escaldes,42.500000,1.533333,,,,,

In [43]:
cloudiness = []
date = []
humidity = []
max_temp = []
wind_speed = []

#loop through cities to make API request & append results
for city in cities:
    response = requests.get(query_url + city).json()
    cloudiness.append(response['weather']['clouds'])
    date.append(response['date']['date'])
    humidity.append(response['main']['humidity'])
    maxtemp.append(response['main']['temp_max'])
    windspeed.append(response['wind']['speed'])

NameError: name 'cities' is not defined

In [44]:
cities_pd.head()

,Country,City,Latitude,Longitude,Cloudiness,Date,Humidity,Max Temp,Wind Speed
0,,andorra la vella,42.500000,1.516667,,,,,
1,,canillo,42.566667,1.600000,,,,,
2,,encamp,42.533333,1.583333,,,,,
3,,la massana,42.550000,1.516667,,,,,
4,,les escaldes,42.500000,1.533333,,,,,

In [45]:
print(f"cloudiness: {cloudiness}")
print(f"date: {date}")
print(f"humidity: {humidity}")
print(f"max temp: {max_temp}")
print(f"windspeed: {wind_speed}")

cloudiness: []
date: []
humidity: []
max temp: []
windspeed: []

In [46]:
weather_data = {"city": cities, "latitude": lat, "longitude": long, "cloudiness": cloudiness, "date": date, "humidity" : humidity, "windspeed": wind_speed}
weather_data = pd.DataFrame(weather_data)
weather_data

NameError: name 'cities' is not defined

In [47]:
# temp vs lat plot
plt.scatter(weather_data["max_temp"], weather_data["latitude"], marker="o")

#plot labels
plt.title("Max Temp vs Latitude")
plt.ylabel("Max Temp (F)")
plt.xlabel("Latitude")
plt.grid(True)

plt.show

TypeError: 'Response' object is not subscriptable

In [34]:
# humidity vs lat plot
plt.scatter(weather_data["humidity"], weather_data["latitude"], marker="o")

#plot labels
plt.title("Humidity vs Latitude")
plt.ylabel("Humidity %")
plt.xlabel("Latitude")
plt.grid(True)

plt.show

NameError: name 'weather_data' is not defined

In [35]:
# wind speed vs lat plot
plt.scatter(weather_data["wind_speed"], weather_data["latitude"], marker="o")

#plot labels
plt.title("Wind Speed vs Latitude")
plt.ylabel("Humidity %")
plt.xlabel("Latitude")
plt.grid(True)

plt.show

NameError: name 'weather_data' is not defined

In [ ]:
# cloudiness vs lat plot
plt.scatter(weather_data["cloudiness"], weather_data["latitude"], marker="o")

#plot labels
plt.title("Cloudiness vs Latitude")
plt.ylabel("Humidity %")
plt.xlabel("Latitude")
plt.grid(True)

plt.show